@charset "UTF-8";

/* Generic */
.position-fixed {
	position: fixed;
}
/* Header Logo */
#header .logo {
	margin-left: 10px;
	width: auto;
}
@media(max-width: 992px) {
	#header .logo {
		margin-left: 68px;
	}
}

/* Header Navbar User Area */
#header #user.pull-right {
	clear: none;
}

/* Nested Page Widget */
.wrapwidg.nestedPage .widget_padding .singleBigVideo .widget_padding [id^="lastContents"] {
	margin-top: -35px;
}

/* Widget Title */
.plain-title .widget_title {
	border: none;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: none;
}
.plain-title .widget_title > i {
	display: none !important;
}

/* Navbar: First Level */
#navbar-xchange-first-level .nav-tabs {
	height: 59px;
	border-bottom: none;
}
#navbar-xchange-first-level .nav-tabs [role="presentation"],
#navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
	height: inherit;
}
#navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
	border-radius: initial;
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
#navbar-xchange-first-level .nav-tabs [role="presentation"] > a:focus {
	background-color: inherit;
}
#navbar-xchange-first-level .nav-tabs [role="presentation"].active > a {
	background-color: #EEE;
	border: none;
}

/* Navbar: Second Level */
#navbar-xchange-second-level {
	background-color: #EEE;
	margin: 0;
	min-height: initial;
	position: absolute;
	width: 100%;
}
#navbar-xchange-second-level .strip {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center !important;
}
#navbar-xchange-second-level .strip .strip-element {
	display: inline-block;
	max-width: 15%;
	vertical-align: top;
	text-align: left;
}
#navbar-xchange-second-level .strip .strip-element + .strip-element {
	margin-left: 1em;
}
#navbar-xchange-second-level .active.visible-xs,
#navbar-xchange-second-level .active.visible-sm,
#navbar-xchange-second-level .active.visible-md {
	display: block !important;
}
@media(max-width: 992px) {
	#navbar-xchange-second-level {
		text-align: left !important;
	}
	#navbar-xchange-second-level .strip .strip-element {
		display: block;
		max-width: initial;
	}
	#navbar-xchange-second-level .strip .strip-element + .strip-element {
		margin-left: auto;
	}
}

/* Mobile Navbar */
#home-wrapcontent {
	padding-left: 0; 
	margin-right: auto;
}
#header ul.site-nav {
	left: -300px;
}
ul.site-nav span.level-toggler {
	right: 15px;
}
ul.site-nav li ul.child-level {
	width: 300px;
}
.wrapwidg.plugin_navigationbar.position-fixed {
	z-index: 1;
}
#mainwrap.mobile_menu_open #home-wrapcontent {
	margin-right: -300px;
}
ul.site-nav.top-level li.child.depth2.leaf a {
	display: block !important;
	line-height: normal;
	padding: 1em;
}

/* Photo Gallery Widget */
[data-tt-widget-widget="photoGallery"] {
	background: white;
	margin-top: -250px;
	z-index: 2;
	position: relative;
	padding: 1em 2em 1em 2em;
}
[data-tt-widget-widget="photoGallery"] .slick-prev:before, .slick-next:before {
	color: black;
}
[data-tt-widget-widget="photoGallery"] [data-item] {
	padding: 0 .1em;
}
[data-tt-widget-widget="photoGallery"] label{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;background-color:#a8a8a8;border:0 solid #FFF;border-radius:30px;box-sizing:border-box;cursor:pointer;display:inline-block;height:20px;line-height:20px;margin-top:5px;overflow:visible;padding:0;}
[data-tt-widget-widget="photoGallery"] label > input + span:after{-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;border:1px solid #dbdbdb;border-radius:25px;bottom:0;content:"";display:block;height: 16px;left:inherit;margin: 2px 2px 0 -4px;position:absolute;right:0;top:0;transition:all .1s ease-in-out;width: 16px;background:white;}
[data-tt-widget-widget="photoGallery"] label > input:not(:checked) + span:after{background:#fff;left:6px;right:inherit;}
[data-tt-widget-widget="photoGallery"] label > input:checked + span{ background:#4C4C4C; }
[data-tt-widget-widget="photoGallery"] label span{border-radius:25px;box-sizing:border-box;display:block;height:20px;overflow:hidden;position:relative;text-indent:900px;width:40px;}
[data-tt-widget-widget="photoGallery"] label > input[type="checkbox"] { display: none; }
@media(max-width: 768px) {
	[data-tt-widget-widget="photoGallery"] {
		margin-top: 20px;
		margin-bottom: -20px;
	}
}

/* Webinar Content List */
.webinar-list .template-custom {
	background: white;
	border: none;
	display: table;
	float: left;
	height: auto;
	margin-bottom: 10px;
	min-width: inherit;
	padding-bottom: 20px;
	position: relative;
	width: 32.5%;
}
@media(max-width: 1200px) {
	.webinar-list .template-custom {
		width: 48.9%;
	}
}
@media(max-width: 768px) {
	.webinar-list .template-custom {
		width: 100%;
	}
}
.webinar-list .template-custom .webinar {
	padding: 1em;
}
.vwall {
	display: none !important;
}

/* Scroll Down Icon */
.scroll-down {
	margin: 0 50%;
	display: inline-block;
	position: relative;
	bottom: 19px;
	background: white;
	border-radius: 50%;
	z-index: 1;
	padding: 5px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
}

/* Content Batch Upload Widget */
.wrapwidg [data-tt-widget-widget="contentBatchUpload"] .row:first-child {
	margin-left: auto !important;
	margin-right: auto !important;
}
[data-tt-widget-widget="contentBatchUpload"] label{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;background-color:#a8a8a8;border:0 solid #FFF;border-radius:30px;box-sizing:border-box;cursor:pointer;display:inline-block;height:20px;line-height:20px;margin-top:5px;overflow:visible;padding:0;}
[data-tt-widget-widget="contentBatchUpload"] label > input + span:after{-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;border:1px solid #dbdbdb;border-radius:25px;bottom:0;content:"";display:block;height: 16px;left:inherit;margin: 2px 2px 0 -4px;position:absolute;right:0;top:0;transition:all .1s ease-in-out;width: 16px;background:white;}
[data-tt-widget-widget="contentBatchUpload"] label > input:not(:checked) + span:after{background:#fff;left:6px;right:inherit;}
[data-tt-widget-widget="contentBatchUpload"] label > input:checked + span{ background:#4C4C4C; }
[data-tt-widget-widget="contentBatchUpload"] label span{border-radius:25px;box-sizing:border-box;display:block;height:20px;overflow:hidden;position:relative;text-indent:900px;width:40px;}
[data-tt-widget-widget="contentBatchUpload"] label > input[type="checkbox"] { display: none; }
[data-tt-widget-widget="contentBatchUpload"] .status {
	border: 1px solid #BBB;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	position: relative;
	vertical-align: middle;
	width: 10px;
}
[data-tt-widget-widget="contentBatchUpload"] .status-error {
	background-color: red;
}
[data-tt-widget-widget="contentBatchUpload"] .status-error::after {
	content: 'batch failed';
}
[data-tt-widget-widget="contentBatchUpload"] .status-accepted {
	background-color: yellow;
}
[data-tt-widget-widget="contentBatchUpload"] .status-accepted::after {
	content: 'working for you';
}
[data-tt-widget-widget="contentBatchUpload"] .status-success {
	background-color: green;
}
[data-tt-widget-widget="contentBatchUpload"] .status-success::after {
	content: 'completed successfully';
}
[data-tt-widget-widget="contentBatchUpload"] .status-unknown {
	background-color: gray;
}
[data-tt-widget-widget="contentBatchUpload"] .status-unknown::after {
	content: 'unknown';
}
[data-tt-widget-widget="contentBatchUpload"] .status-error::after,
[data-tt-widget-widget="contentBatchUpload"] .status-accepted::after,
[data-tt-widget-widget="contentBatchUpload"] .status-success::after,
[data-tt-widget-widget="contentBatchUpload"] .status-unknown::after {
	left: 12px;
	position: absolute;
	top: -6px;
	width: 150px;
}

/* Footer */
#footer {
	background: none;
	border: 0;
	clear: both;
	margin: 0;
	min-height: initial;
	padding: 0;
	position: static;
}
#footer footer {
	border-top: 1px solid #EEE;
}
#footer .logo {
	width: 93px;
	padding-top: 15px;
}

/* Cookie Banner */
.cc-cookies {
	bottom: 0;
	top: initial;
}