@charset "UTF-8";

/* Basic typography style for copy text
   ========================================================================== */

@font-face{
/*font-family:"Proxima Nova W07 Black";*/
font-family:"Proxima Nova Black";
src:url("../proxima/9e87ad7f-6820-4b24-82f0-00f80e23b088.eot?#iefix");
src:url("../proxima/9e87ad7f-6820-4b24-82f0-00f80e23b088.eot?#iefix") format("eot"),url("../proxima/301904b9-fe52-494e-aeca-bb946a866993.woff2") format("woff2"),url("../proxima/ab408b66-5692-4473-b167-5819ca620b83.woff") format("woff"),url("../proxima/19260682-1047-465b-b29b-66c48ea2e00e.ttf") format("truetype"),url("../proxima/3943e845-1e8d-442c-b4fd-222b664b7e35.svg#3943e845-1e8d-442c-b4fd-222b664b7e35") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W07 Bold";*/
font-family:"Proxima Nova Bold";
src:url("../proxima/b9234758-e038-4622-b531-1e89eef11dc8.eot?#iefix");
src:url("../proxima/b9234758-e038-4622-b531-1e89eef11dc8.eot?#iefix") format("eot"),url("../proxima/301b29be-a6b5-467a-ba10-926b40436a87.woff2") format("woff2"),url("../proxima/a01242ac-07ee-44eb-97b4-3f6df729e51a.woff") format("woff"),url("../proxima/713e8042-cdd9-4f87-b79b-59bb8e43daca.ttf") format("truetype"),url("../proxima/b39f961b-4c68-4114-8a71-76bfe004cf14.svg#b39f961b-4c68-4114-8a71-76bfe004cf14") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W07 Extrabold";*/
font-family:"Proxima Nova Extra Bold";
src:url("../proxima/98efc59a-892b-4055-a50c-3a62f5f46e88.eot?#iefix");
src:url("../proxima/98efc59a-892b-4055-a50c-3a62f5f46e88.eot?#iefix") format("eot"),url("../proxima/fc89076c-e531-4a6c-a0a0-cb26387f4260.woff2") format("woff2"),url("../proxima/0333c78e-0245-4dd1-91f0-95e76486e4fe.woff") format("woff"),url("../proxima/075af3d9-ba60-4f41-8fa1-fc89feed423d.ttf") format("truetype"),url("../proxima/7eec8f01-73b9-4a88-a52d-6e36ef34ccec.svg#7eec8f01-73b9-4a88-a52d-6e36ef34ccec") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W07 Italic";*/
font-family:"Proxima Nova Italic";
src:url("../proxima/aee0de3d-ba67-42ed-a243-74d635a296d1.eot?#iefix");
src:url("../proxima/aee0de3d-ba67-42ed-a243-74d635a296d1.eot?#iefix") format("eot"),url("../proxima/bd5d3098-6dfd-49d7-9805-257c1f9c6a45.woff2") format("woff2"),url("../proxima/e4322432-dab6-4aa4-9547-41939c3d234d.woff") format("woff"),url("../proxima/275b8c7d-2a25-4f4c-a2d4-f3c14c3f3d16.ttf") format("truetype"),url("../proxima/edd9165a-3902-4b98-b7d9-925853b65b82.svg#edd9165a-3902-4b98-b7d9-925853b65b82") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W07 Semibold";*/
font-family:"Proxima Nova Semibold";
src:url("../proxima/48de68cb-1e43-48a1-a302-a7383eccdbb4.eot?#iefix");
src:url("../proxima/48de68cb-1e43-48a1-a302-a7383eccdbb4.eot?#iefix") format("eot"),url("../proxima/ef5b26a4-7dc7-4234-9b93-0c9c0fadd85d.woff2") format("woff2"),url("../proxima/11063ead-72ce-471f-9c94-697b0a2acedb.woff") format("woff"),url("../proxima/bfb11b96-6d58-46c7-9d38-6dafbceffd44.ttf") format("truetype"),url("../proxima/033a4cc6-8a9b-4bc2-9505-c92af71ba166.svg#033a4cc6-8a9b-4bc2-9505-c92af71ba166") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W07 Semibold It";*/
font-family:"Proxima Nova Semibold Italic";
src:url("../proxima/41c72b54-e1e2-42dc-b7ff-55e7a2ffe2d5.eot?#iefix");
src:url("../proxima/41c72b54-e1e2-42dc-b7ff-55e7a2ffe2d5.eot?#iefix") format("eot"),url("../proxima/91008af8-151b-4838-8603-fda6eddd311e.woff2") format("woff2"),url("../proxima/6d58f459-8846-4b16-9d36-0e12d741d9d4.woff") format("woff"),url("../proxima/d3c52b77-4ae0-40fc-84b0-4f1f66a4ebe9.ttf") format("truetype"),url("../proxima/cc51d0ca-1e4b-43b8-9bab-12b3376c2f89.svg#cc51d0ca-1e4b-43b8-9bab-12b3376c2f89") format("svg");
}
@font-face{
/*font-family:"Proxima N W01 Light";*/
font-family:"Proxima Nova Light";
src:url("../proxima/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
src:url("../proxima/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("../proxima/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("../proxima/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("../proxima/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),url("../proxima/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}
@font-face{
/*font-family:"Proxima Nova W08 Reg";*/
font-family:"Proxima Nova Regular";
src:url("../proxima/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix");
src:url("../proxima/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix") format("eot"),url("../proxima/781c5453-0067-4e64-9386-7c0726d63d57.woff2") format("woff2"),url("../proxima/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff") format("woff"),url("../proxima/47e08118-5050-469b-a40c-dc3b2307e87e.ttf") format("truetype"),url("../proxima/d93bd409-7380-4bb8-9d9f-d8035b5e0387.svg#d93bd409-7380-4bb8-9d9f-d8035b5e0387") format("svg");
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

/* Document
   ========================================================================== */

html {
  font-family: "Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ 
}
body {
  font-family: "Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 600;
  font-family: "Proxima Nova Black", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}

body #container, body .container {
  width: auto;
}
body .webinar-list.container {
  padding: 0;
  width: 92%;
  margin: 0 auto;
}
body .home-gallery {
  width: 90%;
}
@media (min-width: 992px) {
  .homeColumn1 {
    padding: 50px 0 0 0;
  }
}
#header {
  background-color: #292a2c;
}
#mainwrap #header {
  text-align: center;
}
#mainwrap #header [data-network-logo] {
  background-image: url('../images/replywebinar-logo-negative.png');
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  float: none;
  position: absolute;
  width: 220px;
}
#header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
  text-transform: uppercase;
  color: #fff;
}
#header #navbar-xchange-first-level .nav-tabs [role="presentation"].active > a,
#header #navbar-xchange-first-level .nav-tabs [role="presentation"]:hover > a,
#header #navbar-xchange-first-level .nav-tabs [role="presentation"]:focus > a,
#header #navbar-xchange-first-level .nav-tabs [role="presentation"]:active > a {
  color: #292a2c;
  background-color: #EEE;
}
.wrapwidg.nestedPage .widget_padding .singleBigVideo .widget_padding [id^="lastContents"] {
  margin-top: -36px!important;
}
.navbar_trigger i {
  color: #fff;
}
.strip-element-title {
  margin-bottom: 10px;
}
#header .top_menu {
  float: right;
}
#header ul.site-nav li:hover .top-level a,
#header ul.site-nav li:active .top-level a,
#header ul.site-nav li:focus .top-level a,
#header ul.site-nav a.active  {
  color: #292a2c !important;
}

.dropdown.user_menu .btn {
  border: 1px solid #49d552;
}
#header .caret {
  right: auto;
  left: -20px;
  top: 50%;
}
#header ul.dropdown-menu {
  right: -12px;
  border-radius: 0;
  background-color: #292a2c;
  color: #fff;
}
#header .dropdown-menu > li > a {
  color: #fff;
}
#header .dropdown-menu > li > a:hover {
  color: #292a2c;
}
#header .dropdown-menu > li > a .fa {
  color: #49d552;
}
#mainwrap #header ul.site-nav,
#header ul.site-nav li {
  background-color: #292a2c;
}

#mainwrap.mobile_menu_open {
  overflow: hidden;
}

@media (min-width: 992px) {
  #mainwrap #header [data-network-logo] {
    width: 180px;
    position: relative;
    float: left;
    left: 0;
    margin-right: 10px;
    margin-left: 20px;
    transform: translateX(0);
  }
  #header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
}
@media (min-width: 1281px) {
  #mainwrap #header [data-network-logo] {
    width: 220px;
  }
  #header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1800px) {
/*  #mainwrap #header [data-network-logo] {
    width: 220px;
  }*/
  #header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a {
    font-size: 16px;
  }
}


/*widget gallery*/
.wrapwidg [data-tt-widget-widget="photoGallery"] label {
  background-color: #49d552;
  background-image: url('../images/ico-gallery-grid.png');
  background-repeat: no-repeat;
  background-position: 79% center;
  background-size: auto 43%;
  margin-top: 10px;
}
@media (max-width: 768px) {
  #mainwrap .slick-prev, .slick-next {
    display: none!important;
  }
  #mainwrap #homewidget_326_body {
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.wrapwidg [data-tt-widget-widget="photoGallery"] label > input:checked + span {
  background-color: #49d552;
  background-image: url('../images/ico-gallery-slider.png');
  background-repeat: no-repeat;
  background-position: 22% center;
  background-size: auto 18%;
}
.wrapwidg #navbar-xchange-second-level {
  background-color: #292a2c;
}
.wrapwidg .strip-element-image {
  margin-bottom: 10px;
}
.wrapwidg .strip-element-description {
  color: #fff;
}
.wrapwidg [data-tt-widget-widget="photoGallery"] {
  background-color: rgba(255,255,255,0.9);
  padding: 0.7em 2em 1em 2em;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  content: '';
  width: 6px;
  height: 11px;
  display: block;
}
.slick-slider .slick-prev:hover,
.slick-slider .slick-prev:focus,
.slick-slider .slick-prev {
  background: transparent url(../images/arrow-prev.png) 0 0 no-repeat;
  left: -15px;
}
.slick-slider .slick-next:hover,
.slick-slider .slick-next:focus,
.slick-slider .slick-next {
  background: transparent url(../images/arrow-next.png) 0 0 no-repeat;
  right: -30px;
}
.wrapwidg .slick-dots li {
  width: 10px;
}
.wrapwidg .slick-dots li button:before,
.wrapwidg .slick-dots li.slick-active button:before {
  color: #49d552;
}
.wrapwidg .slick-dotted.slick-slider {
    margin-bottom: 20px;
}

/**/
#home-wrapcontent .widget_title {
  text-transform: uppercase;
  color: #292a2c;
  font-family: 'Proxima Nova Black', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
body #home-wrapcontent, body #wrapcontent, body .toolbarPanel {
  background-color: #fff;
}
#home-wrapcontent .webinar-list .template-custom {
  box-shadow: 0 0 35px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  /*width: 32%;*/
}
#home-wrapcontent .webinar-list .template-custom .webinar {
  border-top: 5px solid #9ce450;
}
#home-wrapcontent .webinar-list .template-custom:nth-child(3n+2) .webinar {
  border-color: #49d552;
}
#home-wrapcontent .webinar-list .template-custom:nth-child(3n) .webinar {
  border-color: #00af50;
}
#home-wrapcontent .webinar-list .template-custom .webinar .row div:first-child {
  display: block!important;
  float: left;
  width: auto;
}
#home-wrapcontent .webinar-list .template-custom .webinar .row div:first-child img {
  border-radius: 50%;
}
#home-wrapcontent .webinar-list .template-custom .webinar .row div:last-child {
  font-weight: 900;
  font-family: 'Proxima Nova Black', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#home-wrapcontent .webinar-list .template-custom .webinar header.row a {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Black', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.webinar-list .template-custom .webinar p {
  font-size: 16px;
  line-height: 1.35em;
}

.webinar-list .template-custom .webinar .discover-more {
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 15px;
  display: block;
}

.webinar-list .template-custom .webinar .discover-more:hover {
  text-decoration: underline;
}


/*footer*/
.footer .footer__fixed {
  background-color: #efefef;
}
.footer .footer__fixedText {
  color: #35373b;
}
.footer .footer__fixedButton {
  background: url(../images/footeropenclose.png) no-repeat 0 0;
}
.footer .footer__openClose {
  background-color: #292a2c;
}

/*dettaglio*/
#home-wrapcontent .wrapcontent_padding {
  padding-bottom: 50px;
}
.wrapwidg.plugin_contentDetailWidget {
  border: none;
}
#col276 {
  display: none;
}
#col277 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
#col278 {
  display: none;
}
.content_details.content_details_editorial {
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
}
.content_details.content_details_editorial > div {
  padding: 0;
}
.wrapwidg .content_files, 
.wrapwidg .content_drive_files {
  overflow: visible;
}
.wrapwidg .content_details .content-description {
  font-size: 17px;
  line-height: 24px;
}
#main .plugin_contentDetailWidget h2:not(.section_title),
#main .wrapwidg .content_details .plugin_contentDetailWidget h2:not(.section_title) {
  font-weight: 900;
  font-family: 'Proxima Nova Black', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
  color: #36383c;
  line-height: 1.1em;
  margin-top: -7px;
}
#main .plugin_contentDetailWidget h2.section_title {
  font-weight: 700;
  font-size: 24px;
}
.content_details:after {
    display: none;
}
.embed-container {
  clear: both;
}
@media (min-width: 1024px) {
  .wrapwidg .content_details {
    float: left;
    width: 50%;
    margin: 0;
    padding-right: 45px;
    padding-top: 0;
  }
  .wrapwidg .embed-container {
    clear: none;
    width: 50%;
    margin: 0;
    padding-bottom: 30.9375%;
    /*padding-bottom: 33.76%;*/
    border: 1px solid #777;
  }
}
.content_files .list {
  padding-bottom: 30px;
  width: 100%;
  float: left;
  margin: 0;
}
.content_files .list .content_file.row {
  width: 65%;
  box-shadow: 0 0 35px 5px rgba(0,0,0,0.1);
}
.content_files .list .content_file .content_file_padding {
  background-color: #fff;
}
.content_file .content_file_padding a,
.content_file .content_file_padding a .fa {
  color: #00b04e;
}

.wrapwidg .content-tag a.label.label-default, .wrapwidg .content-tag span.label.label-default {
  background-color: #00b04e;
  border-radius: 0;
  padding: 12px 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 4px;
  display: inline-block;
}
.wrapwidg .content-tag a.label.label-default:hover,
.wrapwidg .content-tag a.label.label-default:focus,
.wrapwidg .content-tag a.label.label-default:active {
  opacity: 0.85;
}
.content_details .fa {
  color: #00b04e;
}